/* view-thread.component.css */
.bg-light {
    background-color: #f8f9fa !important;
  }
  
  .bg-info {
    background-color: #1890ff !important;
  }
  
  .bg-success {
    background-color: #28a745 !important;
  }
  