.submit-btn {
    background-color: #1890ff;
    color: white;
    border: none;
  }
  
  .submit-btn:hover {
    background-color: #0e76d0; /* Darker shade on hover */
  }
  
  .text-danger {
    font-size: 0.875rem;
  }